:root
{
    --black-color: #000000;
    --red-main-color: #ff003c9f;
    --red-dark-color: #270d15;
    --red-darker-color: #1a080e;
    --red-light-color: #ff154bd7;
}

@font-face
{
    font-family: 'BlenderProBook';
    src: url('assets/fonts/blender-pro-book.woff');
}

@font-face {
    font-family: 'Oxanium';
    src: url('assets/fonts/Oxanium-VariableFont_wght.ttf');
}

html
{
    background-color: #000000;
    font-size: 42px;
    color: var(--red-light-color);
    font-family: 'BlenderProBook';
    width: 100%;
    height: 100%;
}

body
{
    background: linear-gradient(0deg,rgba(10, 5, 7, 1) 0%, rgb(29, 8, 14) 31%, rgba(79, 9, 21, 1) 100%);
    background-attachment: scroll;
    background-attachment: fixed;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

button {
    font-family: 'BlenderProBook';
    font-size: 35px;
    color: var(--red-light-color);
    background-color: var(--red-dark-color);
    border: none;
    /* border-top: 5px var(--red-color); */
    padding: 10px 20px;
    padding-right: 25px;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0% 100%);
    transition: 0.3s;
}

button:hover
{
    color: var(--red-dark-color);
    background-color: var(--red-main-color);
}

div {
    font-size: 42px;
    padding: 10px 0px;
    margin: 0px 20px;
}

.welcome
{
    width: 19.4ch;
    overflow: hidden;
    border-right: 3px solid var(--red-main-color);
    padding: 0px;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2.5s steps(19, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
      width: 0
    }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--red-light-color); }
  }

.inputBlock
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

input[type="text"] {
    width: calc(100% - 30px);
    height: 35px;
    border: 20px solid var(--red-main-color);
    border-left: 3px solid var(--red-main-color);
    border-right: 3px solid var(--red-main-color);
    border-bottom: 15px solid var(--red-main-color);
    background-color: var(--red-dark-color);
    /*clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 15px, 100% 15px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
    */
    clip-path: polygon(0% 17px, calc(0% + 20px) 0%, 45% 0%, calc(45% + 25px) 17px, 100% 17px, 100% calc(100% - 12px), calc(100% - 15px) 100%, 80% 100%, calc(80% - 15px) calc(100% - 12px), 0% calc(100% - 12px));
    padding: 5px;
    color: var(--red-main-color);
    font-family: 'BlenderProBook';
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

.shutdown 
{
    animation: shutdown 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
}

.unshut
{
    animation: shutdown 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards reverse;
}

@keyframes shutdown
{
    0% {
        transform: scaleY(1) scaleX(1);
    }
    70% {
        transform: scaleY(0.01) scaleX(1);
    }
    100% {
        transform: scaleY(0) scaleX(0);
        opacity: 0;
    }
}

.story
{
    position: relative;
    margin: 20%;
    padding: 25px;
    background-color: #ff154c3d;
    /*border: 3px solid var(--red-light-color);*/
    clip-path: polygon(0% 25px, calc(0% + 25px) 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0% 100%);
}

.story:after
{
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--red-light-color) !important;
  box-shadow: 0px 0px 10px 4px var(--red-light-color);
  animation: 
    scannedh 4s infinite linear normal,
    delayAnim 8s linear infinite;
}

@keyframes scannedh
{
    0% 
    {
      top: 0%;
    }
    50%
    {}
    51%
    {}
    100%
    {
        top: 100%;
    }
}

@keyframes delayAnim
{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 1;
    }
    50.01%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}